:root {
    --color1: #ea5455;
    --color2: #4e4e6a;
    --color3: #ff8b00;
    --color4: #fed700;
    --color5: #1f6cb0;
    --color6: #71a3c4;
    --color7: #f0e78c;
}

* {
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    list-style: none;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    grid-column: 1/4;
    background-color: black;
    padding: .1rem;
}

.container-header {
    margin: 0.7rem;
    padding: 0.7rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color2);
}

.container-header .logo,
.social {
    background-color: #ea5455;
    width: 8%;
    margin: 0, 7rem;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    background-color: #ea5455;
}

.nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav ul li {
    text-decoration: none;
}

.banner {
    margin: 0.7rem;
    padding: 0.7rem;
    height: 5rem;
    background-color: var(--color3);
    padding: 5px;
}

.banner h1 {
    background-color: var(--color4);
    margin: 1rem;
}

main {
    background-color: black;
    padding: 1rem;
    margin: 1rem 0;
}

.section {
    background-color: #4e4e6a;
    padding: 1rem;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

.articles article {
    width: 45%;
    margin: 1rem;
    padding: 1rem 10rem;
    background-color: var(--color5);
}

.navegacion {
    width: 95%;
    margin: 1rem auto;
    padding: 0.7rem;
    background-color: var(--color6);
}

aside {
    grid-column: 3/3;
    background-color: black;
    margin: 1rem;
    padding: 1rem;
}

aside ul {
    background-color: var(--color1);
    height: 100%;
    margin: auto;
    padding: 1rem;
}

footer {
    grid-column: 1/4;
}