* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: black;
}

html {
    height: 100%;
}

header {
    padding: 1rem;
    background-color: black;
}

.container-nav {
    background-color: #2C4059;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.logo , .nav .list-nav , .social{
    padding: 1rem;
    margin: 1rem;
    background-color: #EA5455;
}

.list-nav {    
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.banner {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FF8B00;
}

.banner h1 {
    padding: 1rem;
    background-color: #FED700;
}

.contenido {
    background-color: #000;
}

.contenido .section {
    background-color: #4E4E6A;
}
