* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: black;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header,
main,
aside,
footer {
    flex: 1 1 50px;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: black;
}

.container-nav {
    background-color: #2C4059;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
}

.logo,
.nav .list-nav,
.social {
    padding: 1rem;
    margin: 1rem;
    background-color: #EA5455;
}

.list-nav {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.banner {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #FF8B00;
}

.banner h1 {
    padding: 1rem;
    background-color: #FED700;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.contenido {
    flex-grow: 2;
}

.section,
.navegacion {
    background-color: #4f4f6b;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.articles article {
    width: 35%;
    padding: 1rem;
    margin: 1rem;
    background-color: #206db0;

}

.navegacion {
    padding: 1rem;
}

.navegacion p {
    background-color: #72a3c4;
    padding: 1rem;
}

aside {
    flex-grow: 1;
    padding-left: 0;
}

aside ul {
    background-color: #f54052;
    padding: 1rem;
}

.publicidad {
    background-color: #ffd900;
    padding: 1rem;
    margin: 1rem;
}

footer {
    height: 100px;
    display: flex;
}

.pie {
    background-color: #f0e78b;
    padding: 1em;
    width: 100%;
    align-self: center;
}

/*
    screen mobile
*/

@media (max-width: 480px) {


    .logo,
    .social {
        width: 90%;
    }

    .container-nav {
        flex-direction: column;
    }

    .list-nav {
        flex-direction: column;
    }


    .container {
        flex-direction: column;
    }

    .contenido {
        flex: 3;
    }

    .articles article {
        width: 100%;
    }

    aside {
        padding-left: 1rem;
    }

}

/* screen tablet */

@media (min-width: 481px) and (max-width: 767px){

    .container {
        flex-direction: column;
    }

    .articles article {
        width: 30%;
    }

    aside {
        padding-left: 1rem;
    }

}